<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Fox</title>
    </head>
    <body>
        <a th:href="@{'nutritionStore?name='+${fox.name}}">Nutrition store</a>
        </br>
        <img src="greenfox.png">
        <div th:object="${fox}">
            <p th:text="'This is ' + *{name} +  '. Currently living on ' + *{food} +  ' and '  + *{drink}+ '. He knows ' + *{tricks.size()} +' tricks.'"></p>
            <h3> Known tricks:</h3>
            <div th:if="*{tricks.size()==0}">
                <p> You have no tricks yet. Go and get some.</p>
            </div>
            <div th:each="trick : *{getTricks()}">
                <p th:text="${trick}"></p>
            </div>
        </div>
    </body>
</html>